<div class='as-search-wrapper' role='main'>
  <div class='as-navtuck-wrapper'>
    <div class='as-l-fullwidth as-navtuck' data-events='event52'>
      <div>
        <div class='pd-billboard pd-category-header'>
          <div class='pd-l-plate-scale'>
            <div class='pd-billboard-background'>
              <img
                src='./assets/music-audio-alp-201709'
                alt=''
                width='1440'
                height='320'
                data-scale-params-2='wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306'
                class='pd-billboard-hero ir'
              />
            </div>
            <div class='pd-billboard-info'>
              <h1 class='pd-billboard-header pd-util-compact-small-18'>Tienda
                e-commerce</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='checkout-area flex-column flex-justify-center'>
  <div class='checkout-bar flex-row'>
    <h2 id='go-back-btn' class='go-back-btn'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='23'
        height='23'
        viewBox='0 0 10 10'
        class='chevron-left'
      >
        <path
          fill='#666666'
          fill-rule='nonzero'
          id='chevron_left'
          d='M7.05 1.4L6.2.552 1.756 4.997l4.449 4.448.849-.848-3.6-3.6z'
        ></path>
      </svg>
      Voltar
    </h2>
    <h2>&MediumSpace;/ Pagamento</h2>

  </div>
  <div class='checkout-content flex-column flex-justify-center'>
    <div class='as-accessories-results as-search-desktop'>

    </div>

    <div class='checkout-box flex-column flex-justify-center'>
      <div class='checkout-title'>
        <h2>Seu Pedido</h2>
      </div>
      <div class='checkout-row flex-row'>
        <div class='checkout-item'><h3>Resumo</h3></div>
      </div>
      <div class='checkout-row flex-row'>

        <div class='as-accessories-results as-search-desktop'>

        </div>
        <div class='checkout-item'><h4>{{title}} x {{unit}}</h4></div>
        <div class='checkout-value'><h4 id='item-price'>{{price}}</h4></div>
      </div>
      <div class='checkout-row flex-row'>

        <div class='as-accessories-results as-search-desktop'>

        </div>
        <div class='checkout-item'><h4>Total</h4></div>
        <div class='checkout-value'><h4 id='item-total'>{{price}}</h4>
        </div>
      </div>
      <div
        class='checkout-row checkout-payment flex-column flex-justify-center'
      >
        <input id='checkout-id' type='hidden' name='id' value='{{id}}' />
        <div id='do-payment'>

        </div>
      </div>
    </div>

  </div>
</div>

<footer>
  Esse é um exemplo de integração do Checkout Pro do Mercado Pago
</footer>