<div class='as-search-wrapper' role='main'>
  <div class='as-navtuck-wrapper'>
    <div class='as-l-fullwidth as-navtuck' data-events='event52'>
      <div>
        <div class='pd-billboard pd-category-header'>
          <div class='pd-l-plate-scale'>
            <div class='pd-billboard-background'>
              <img
                src='./assets/music-audio-alp-201709'
                alt=''
                width='1440'
                height='320'
                data-scale-params-2='wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306'
                class='pd-billboard-hero ir'
              />
            </div>
            <div class='pd-billboard-info'>
              <h1 class='pd-billboard-header pd-util-compact-small-18'>Tienda
                e-commerce</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='checkout-area flex-column flex-justify-center'>

  <div class='checkout-bar flex-row'>
    <h2 class='as-filter-button'>
      Smartphones
    </h2>

  </div>
  <div class='checkout-content flex-column flex-justify-center'>
    <div class='as-accessories-results as-search-desktop'>

    </div>

    <div class='checkout-box flex-column flex-justify-center'>
      <div class='checkout-title'>
        <h2>Pedido Nº: {{payment_id}}</h2>
      </div>
      <div class='checkout-row flex-row flex-justify-center'>
        <img class='approved-animation' src='./assets/confirmed.svg' alt='' />
      </div>
      <div class='checkout-title'>
        <h3>Pagamento APROVADO!</h3>
      </div>
      <div class='checkout-row'>
        <pre>
          <span>collection_id: {{payment_id}}</span>
          <span>external_reference: {{external_reference}}</span>
          <span>preference_id: {{preference_id}}</span>
          <span>payment_type: {{payment_type}}</span>
        </pre>
      </div>
      <div class='checkout-row flex-row flex-justify-center'>
        <a href='/'>voltar para o ínicio</a>
      </div>
    </div>
  </div>
</div>

<footer>
  Esse é um exemplo de integração do Checkout Pro do Mercado Pago
</footer>